*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}
body{
    width:740px;
    height:400px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(3, 78, 128);
    background:#fff;
    position: relative;
}
.search-box{
    position: absolute;
    top: 20px;
    left: 60px;
    display: flex;

}
.search-weather{
    flex: 1;
    width: 200px;
    font-size: 22px;
    outline: none;
    margin: 5px -20px 0 0;
}
.search-btn{
    background-color: transparent;
    border: none;
    outline: none;
    flex: 1;
    
}
.weather-detail{
    padding-top: 50px;
}
.city-location{
    text-align:center
}
.today-weather{
    padding-bottom:30px;
}
.row-detail{
    display: flex;
    justify-content:center;
    align-items: center;
}
.row-detail img{
    width:80px;    
}
.row-detail h1{
    font-size:60px;
}
.wind{
    text-align: center;
}
.content{
    display: flex;
    border-radius: 8px;
}

.wrap{
    display: flex;
    flex: 1;
    justify-content:space-around;
    align-items: center;
}
.row{
    background:#fff;
    padding:20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.26), 0 0 0 1px rgba(0,0,0,0.18);
    border-radius: 8px;
}
.row img{
    width:80px;
}
.row h1{
    font-size:18px;
}
h1,h4{
    text-align: center;
    margin:0;
}

